:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.keyboard-button {
  width: 3rem;
  height: 4rem;
  margin: 0.2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.keyboard-extra-button {
  width: 5rem;
  height: 4rem;
  margin: 0.2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  width: 100%;
  margin-bottom: 0.3rem;
}

.input-box {
  width: 3rem;
  height: 3rem;
  border: 2px solid #555;
}

.input-letter {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 3rem;
  vertical-align: middle;
}
